<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="box">
        <a href="/">Go back to Home page</a>
        <form action="/edit_name" class="edit_form"  method="post">
            <input type="text"  class="edit" name="prev" value='<%= filename %>'>
            <input type="text" placeholder="Enter New name" name="new" class="edit">
            <button id="upbtn" type="submit">Update</button>
        </form>
    </div>
</body>
</html>