*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    background-color: rgb(12, 12, 12);
}
textarea{
    resize: none;
    height: 10vh;
}
.form{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.in{
    background-color: black;
    color: white;
    width: 98vw;
    margin: 1vh;
}
button{
    border-radius: 20%;
    background-color: blue;
    color: white;
}
::placeholder{
    color: aliceblue;
}
.cards{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7%;
}
.card{
    background-color: rgb(88, 87, 87);
    width: 15vw;
    overflow: hidden;
}
.text{
    color: aliceblue;
    font-size: 5vh;
    display: inline;
}
.box{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 5%;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 1%;
}
.features{
    display: flex;
    gap: 2vw;
}
.edit_form{
    display: flex;
    flex-direction: column;
}
.edit{
    width: 20vw;
    height: 8vh;
    background-color: black;
    color: white;
}
a{
    color: red;
}
#upbtn{
    background-color: yellow;
    border-radius: 10%;
    color: rgb(0, 0, 0);
    width: 5vw;
}